<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>

<body>
    <header>
        <h1>{{session['username']}}</h1>
        <div></div>
        <img src="https://ui-avatars.com/api/?&color=000&name={{ session.get('username') }}"
            alt="{{session['username']}} ">
    </header>
    <main>
        <a href="{{url_for('anwser',diffi = 'easy')}}">eay question</a>
    </main>
    <footer>
        <a href="{{url_for('logout')}}"><button>logout</button></a>
        <div class="flashes">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}  
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </footer>
</body>

</html>