<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>question: {{q['question'].replace("('","").replace(")'","").strip()}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    <main>
        <h1>{{q['question'].replace("('","").replace(")'","").strip()}} ( {{q['difficulty'].replace("('","").replace(")'","").strip()}} )</h1>
        <form action="{{ url_for('answer', diffi = diff)}}" method="post">
            <input type="submit" name="answer" value="true">
            <input type="submit" name="answer" value="false">
        </form>
    </main>
</body>
</html>